<h1>Курсы</h1>

<p class="text-justify">Курсы китайского языка «Китайская грамота» предлагают Вам несколько программ обучения: <strong>начальный курс</strong> для тех, кто только приступает к изучению китайского языка, <strong>базовый курс</strong> для тех, кто уже знаком с китайским языком и <strong>продвинутый курс</strong> китайского языка для тех, кто уже получил базовые знания и хочет развивать свои языковые навыки, углубить знания о китайской истории и культуре, а также получить специальные знания бизнес-лексики китайского языка. Программа продвинутого курса китайского языка подразумевает разделение на несколько направлений, в зависимости от того, какую именно цель Вы преследуете при изучении языка и какой аспект Вам наиболее интересен.</p>

<p class="text-justify">В числе наших курсов китайского языка также есть специальная авторская <strong>программа для детей и подростков</strong>, как начинающих учить китайский язык, так и продолжающих его изучение.</p>

<p class="text-justify">При поступлении на наши курсы китайского языка не требуется сдавать сложные тесты или проходить специальные собеседования, наши преподаватели помогут Вам определиться с выбором программы курсов.</p>

<% @levels.each do |level| %>
	<p class="china-text text-center"><a href="<%= education_level_path(level) %>"><%= level.name %></a></p>
	<hr>
<% end %>	