<h1>Администраторы</h1>

<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Логин</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.id %></td>
      <td><%= admin.login %></td>
      <td>
        <%= link_to edit_admin_path(admin), title: 'Редактировать', class: 'button tiny' do %>
            <i class="fi-pencil"></i>
        <% end %>
        <%= link_to admin_path(admin), title: 'Удалить', method: :delete, data: { confirm: "Вы уверены, что хотите удалить администратора с именем пользователя #{admin.login}?" },
                       class: 'button alert tiny' do %>
            <i class="fi-x"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>