<% content_for :title, 'Редактирование статьи' %>
<h1>
  Редактирование статьи
  <small class="nowrap"><%= @article.name %></small>
</h1>

<%= render partial: 'form',
           locals: { url: article_path(@article) } %>