<div class="flexslider slider">
  <ul class="slides">
    <% Photo.all.each do |photo| %>
    <li><div style="background-image: url(<%= photo.picture.url %>); background-size: cover; height: 120px;"><div>
    <% end %> 
  </ul>
</div>

<script type="text/javascript">
  $('.slider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 180,
        itemMargin: 5
    })
</script>