<div class="flexslider slider">
  <ul class="slides">
    <% [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16].each do |i| %>
    <li><div style="background-image: url(/images/<%= i %>.jpg); background-size: cover; height: 120px;"><div>
    <% end %> 
  </ul>
</div>

<script type="text/javascript">
  $('.slider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 180,
        itemMargin: 5
    })
</script>