<div class="flexslider slider">
  <ul class="slides">
    <% [1..16].each do |i| %>
    <li><img src="/images/<%= i %>.jpg" alt="фотография <%= i %>"></li>
    <% end %> 
  </ul>
</div>

<script type="text/javascript">
  $('.slider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 180,
        itemMargin: 5
    })
</script>