<ul class="breadcrumbs">
  <li><a href="<%= why_chinese_path %>">Зачем учить китайский?</a></li>
  <li class="current"><a href="#">Китайский язык для детей</a></li>
</ul>


<h1>Китайский язык для детей</h1>

<p class="text-justify">Почему китайский язык полезен для Ваших детей? Всем известно, что дети способны воспринимать информацию легче и быстрее взрослых, детей проще увлечь и научить, при правильном подходе изучение китайского для них будет одинаково по сложности, как изучение английского или лепка из пластилина.</p>

<p class="text-justify">Однако процесс изучения китайского языка уникален во всех смыслах. Он включает в себя получение знаний о новом, совершенно непохожем на наш, мире – ребенок узнает о красочных китайских праздниках, о необычных китайских профессиях и что в Китае едят на обед школьники. Изучение китайского связано с творчеством – дети познакомятся с китайской музыкой для детей, китайскими сказками и традиционным вырезанием из бумаги. Китайский язык научит детей усидчивости (попробуйте-ка прописать две строчки иероглифов!) и нестандартно мыслить (к примеру, на китайской лестнице времени следующая неделя находится внизу, а прошлая – наверху, а не наоборот, как у европейцев).</p>

<p class="text-justify">Изучение китайского языка неразрывно связано с общением в группе, элементами соревнования и вместе с тем проявлением новых личностных качеств, добавит ребенку уверенности в себе и поможет осознать свою индивидуальность. На самое главное, конечно, то, что учить китайский очень весело и интересно! Картинки, песенки, забавные диалоги, ассоциации и игры не оставят равнодушным ни детей, ни родителей!</p>