<% content_for :title, 'Контакты' %>
<h1>Контакты </h1>
<p>Курсы китайского языка в Москве</p>
<p><%= image_tag 'glyphicons/png/glyphicons_026_road.png' %> Адрес: г. Москва, Волгоградский пр-т, д.76/2</p>
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=FL8xrKQPjCVohcWOS6jq85fPQf3hEWxt&width=600&height=450"></script>
<!--<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=bO65ccQtXPCeGs3r1J9MXHlS8kMDSoGX&width=600&height=450"></script>-->
<dl style="margin-top: 5px;">
	<dt><%= image_tag 'glyphicons/png/glyphicons_163_iphone.png' %> Вы можете связаться с нами по телефону:</dt>
	<dd>
		<!--<p>+7 (985) 262-83-28 Ольга</p> -->
		<!-- <p>+7 (906) 064-57-10 Александр</p> -->
		<p>+7 (967) 133-44-03</p>
	</dd>
</dl>	
<dl>
	<dt><%= image_tag 'glyphicons/png/glyphicons_120_message_full.png' %> Также Вы можете связаться с нами по электронной почте:</dt>
	<dd>
		<p><a class="contact_info" href="mailto:mail@kit-gramota.ru">mail@kit-gramota.ru</a></p>
		<p><a class="contact_info" href="mailto:sidorina.rko@yandex.ru">sidorina.rko@yandex.ru</a></p>
		<p><a class="contact_info" href="mailto:a.kartashov@hotmail.com">a.kartashov@hotmail.com</a></p>
	</dd>
</dl>
<dl>
	<dt>Мы Вконтакте:</dt>
	<dd>
		<a class="contact_info" href="http://vk.com/kit_gramota"><%= image_tag 'vk.svg', style: 'width: 40px;' %> vk.com/kit_gramota</a>
	</dd>
</dl>
