<h1>Контакты </h1>
<p>Курсы Китайского Языка в Москве</p>
<p><%= image_tag 'glyphicons/png/glyphicons_026_road.png' %> Адрес: г. Москва, Волгоградский пр-т, д.76/2</p>
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=bO65ccQtXPCeGs3r1J9MXHlS8kMDSoGX&width=600&height=450"></script>
<dl style="margin-top: 5px;">
	<dt><%= image_tag 'glyphicons/png/glyphicons_163_iphone.png' %> Вы можете связаться с нами по телефонам:</dt>
	<dd>
		<p>+7 (985) 262-83-28 Ольга</p>
		<p>+7 (906) 064-57-10 Александр</p>
	</dd>
</dl>	
<dl>
	<dt><%= image_tag 'glyphicons/png/glyphicons_120_message_full.png' %> Также Вы можете связаться с нами по электронной почте:</dt>
	<dd>
		<p>sidorina.rko@yandex.ru</p>
		<p>a.kartashov@hotmail.com</p>
	</dd>
</dl>
<dl>
	<dt>Мы Вконтакте:</dt>
	<dd>
		<a href="http://vk.com/kit_gramota"><%= image_tag 'vk.svg', style: 'width: 40px;' %></a>
	</dd>
</dl>