<h1>汉语训练班</h1>
<p class="text-justify">Китай – страна загадочная и удивительная, всю свою многотысячелетнюю историю привлекающая к себе любопытные, изумленные и восхищенные взоры. Последние десятилетия весь мир с замиранием следит за головокружительными успехами Китая в различных областях, китайский язык стал необходимостью и модным трендом. Курсы китайского языка «Китайская грамота» предлагают Вам лично прикоснуться к тайне этой великой страны, начав, конечно же, с самого главного – китайского языка.</p>
<h4 class="subheader">Китайский язык Вам необходим, если:</h4>
<ul>
	<li>Вы ищете новый путь к успеху и самореализации</li>
	<li>Вы следите за происшествиями в мире и кое о чем догадываетесь</li>
	<li>Ваши партнеры по бизнесу из Китая</li>
	<li>Вы интересуетесь многогранной культурой и более чем пятитысячелетней историей Китая</li>
	<li>Вы хотите связать своё будущее с Китаем, Тайванем, Гонконгом или Сингапуром</li>
	<li>Или же Вы просто ищете новые интересные знакомства и способы самосовершенствования</li>
</ul>

<h4 class="subheader">Пройдя обучение на курсах китайского языка «Китайская грамота», Вы получите:</h4>
<ul>
	<li>Навыки чтения, говорения и восприятия одного из самых востребованных языков современности -  китайского языка</li>
	<li>Глубокие знания по истории, культуре и современной жизни Китая</li>
	<li>Знания китайской деловой этики Поднебесной</li>
	<li>Возможность  внести в свою жизнь что-то новое, открыть для себя новую философию жизни</li>
	<li>Свидетельство об окончании курса китайского языка</li>
</ul>

<h4 class="subheader">Вы сможете:</h4>
<ul>
	<li>Говорить, писать, читать и думать на китайском языке</li>
	<li>Понимать, о чём шепчутся на переговорах ваши китайские партнеры,</li>
	<li>Прочитать, что на самом деле написано на бирках одежды,</li>
	<li>Действительно разбираться в китайской кухне, знать, каков настоящий китайский чай, и сколько на самом деле стоит жемчуг,</li>
	<li>Похвастаться сертификатом о прохождении курса китайского языка</li>
</ul>

<p class="text-justify">Для  всего этого Вам нужно лишь позвонить на один из номеров, указанных в разделе <a href="#">Контакты</a> и записаться на первое бесплатное занятие!</p>

<p class="text-justify">Будьте решительными, присоединяйтесь к уникальному сообществу людей, знающих о Китае все! На наших курсах китайского языка Вы овладеете китайским языком, получите ответы на все интересующие Вас вопросы о Китае,  узнаете, почему китайцы едят рис, что такое «китайская грамота» и за что в Китае не любят Цао Цао.</p>

<p class="text-justify">На курсах китайского языка "Китайская грамота" Вы освоите фонетику, иероглифику, грамматику китайского языка, Вы сможете узнать, как пройти в библиотеку, поддержать разговор на любую повседневную тему, а со временем и обсудить проблемы мирового масштаба. За основу наших курсов взяты программы ведущих российских ВУЗов, специализирующихся на преподавании восточных языков, используются материалы как российских, так и китайских авторов.</p>

<p class="text-justify">Одна из основных наших задач состоит в том, что помимо непосредственно изучения китайского языка мы знакомим наших учеников с культурой, историей и современной жизнью Китая, Тайваня, Гонконга, Сингапура. Обучение китайскому языку на продвинутом уровне не ограничивается терминами и конструкциями для делового общения, мы предлагаем Вам широкую тематическую палитру, выбирайте сами ту программу, которая Вам по душе!</p>

<p class="text-justify">Вы получите возможность лично насладиться нашей особой атмосферой занятий. Мы добиваемся полной свободы общения, обсуждаем актуальные вопросы современного Китая. Молодой и энергичный преподавательский коллектив всегда в курсе последних событий Поднебесной, активно участвует в мероприятиях разного уровня и постоянно поддерживает связь с коллегами из Китая.</p>

<p class="text-justify">Станьте частью уникального сообщества людей разбирающихся в Китае, приходите на курсы китайского языка "Китайская грамота" учить китайский!</p>