<ul class="breadcrumbs">
  <li><a href="<%= why_chinese_path %>">Зачем учить китайский?</a></li>
  <li class="current"><a href="#">Мифы о китайском языке</a></li>
</ul>

<h1>Мифы об изучении китайского языка</h1>
<%= render partial: 'slider' %>
<dl class="accordion myths" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1">Миф #1. "Китайский язык только для очень одаренных людей</a>
    <div id="panel1" class="content active">
    	Чтобы выучить китайский необязательно обладать сверхспособностями и связью с космосом. Вам понадобится много желания, определенное количество усердия и времени. Как говорится, кто хочет, тот добьется!  
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel2">Миф #2. "Китайский язык учить очень сложно</a>
    <div id="panel2" class="content">
      Мы не станем врать, что учить китайский язык столь же легко, как собирать ромашки в поле. Но ничего особо трудного и сверхъестественного в этом нет, китайский язык открыт каждому, так как ни один другой язык не пробуждает столько азарта при его изучении!
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel3">Миф #3. Китайский язык можно выучить только в Китае</a>
    <div id="panel3" class="content">
      Не мудрствуя лукаво, скажем, что в Китае язык выучить, бесспорно, проще, однако современные учебные материалы и высокий уровень квалификации наших преподавателей позволит вам овладеть китайским языком и в столь далекой от китайской стены Москве.
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel4">Миф #4. "Китайский язык можно выучить, только если учить его с детства</a>
    <div id="panel4" class="content">
      Большинство профессиональных китаистов начали изучать язык только в университете, а еще большее число людей владеющих китайским языком начали постигать азы языка Конфуция во взрослые годы, так что за возраст можно не переживать.
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel5">Миф #5. "Китайский язык нужен только людям, которые часто ездят в Китай</a>
    <div id="panel5" class="content">
      Китайский язык сейчас необходим не только в Китае! Большие группы туристов и участников международных выставок из Китая, китайские рынки, мода на татуировки с иероглифами – все это требует людей со знанием китайского языка в России. Китайский язык пригодится вам во многих сферах жизни, и вам необязательно для этого ехать в Китай.
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel6">Миф #6. "Чтобы учить Китайский язык нужно обладать необычной памятью, потому что запомнить 2000 иероглифов обычному человеку невозможно</a>
    <div id="panel6" class="content">
      Для человека, не знающего китайский язык, иероглифы действительно кажутся чем-то невероятным. Однако и в китайской письменности есть своего рода «азбука», элементы которой формируют иероглиф, благодаря чему иероглифы превращаются из непонятного нагромождения линий и точек в легко узнаваемый символ. Ничего трудного в изучении иероглифов нет, выкиньте этот миф из головы.
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel7">Миф #7. "Чтобы учить Китайский язык нужно хорошо уметь рисовать, потому что каждый иероглиф - это целый рисунок</a>
    <div id="panel7" class="content">
      Так считают почти все, кто только раздумывает или начинает изучать китайский язык. Однако, это суждение ошибочно, так как иероглиф – стандартная форма письменности, как и наши слова. Так что если вы умеете писать по-русски, то можете смело пресекать свои страдания из-за мифа номер 7.
    </div>
  </dd>
</dl>

<script src="/assets/vendor_foundation/foundation.accordion.js"></script>
<script type="text/javascript">
  $(document).foundation({ 
    accordion: { 
      active_class: 'active', 
      multi_expand: false, 
      toggleable: true,  
  }
})
</script>