<% content_for :title, 'Наши партнёры' %>
<h1>Наши партнёры</h1>

<%= render partial: 'slider' %>

<p class="text-center">
	<a href="http://www.mrm.ru"><img src="http://www.mrm.ru/images/buttons/mrm.gif" alt="Сайт города Москва">
	MRM.ru | Мой Район Москвы — информационный сайт города Москвы</a>
	
	<%= image_tag 'moscow.jpg', style: 'box-shadow: 0 0 6px #666; margin: 1rem auto; width: 80%;' %>
</p>

