<h1>Наши партнёры</h1>

<%= render partial: 'slider' %>

<p class="text-center">
	<img src="http://www.mrm.ru/images/buttons/mrm.gif" alt="Сайт города Москва">
	MRM.ru | Мой Район Москвы — информационный сайт города Москвы
</p>

