<h1>Китайский как способ самосовершенствования</h1>
<p class="text-justify">Изучение чего-то нового - всегда хороший способ отвлечься от старого. Изучение любого языка – это, прежде всего, общение с новыми людьми, раскрытие в себе новых талантов и новые знания. Но изучение именно китайского языка – это ещё и одновременное развитие в себе таких противоречивых качеств как трудолюбие и умение наслаждаться жизнью, упорство и способность спешить медленно, страсть и философское отношение к жизни. Поэтому только китайский язык даёт мощный толчок к самосовершенствованию, судите сами:</p>

<dl class="accordion perf" data-accordion>
  <dd class="accordion-navigation">
    <a href="#p1">Раскрепощение</a>
 	<div id="p1" class="content">
		Изучение фонетики – один из самых сложных этапов постижения китайского языка. Фонетика китайского языка не отличается особым разнообразием, однако, звуки этого языка не имеют аналогов в русском языке, поэтому, чтобы добиться хорошего произношения, нужно научиться по-новому пользоваться своими языком, губами и зубами. Только отбросив все условности, перестав стесняться самого себя и избавившись от страха выглядеть глупо, Вы сможете сделать языком бабочку и произнести такое страшное, на первый взгляд, китайское слово.
	</div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#p2">Умиротворение</a>
 	<div id="p2" class="content">
		Изучение китайских иероглифов - самый важный, но не самый сложный момент языка Конфуция. Однако, существует только один способ выучить значение иероглифов и научиться писать их красиво – прописывать и ещё раз прописывать. Только тогда иероглифы запомнятся и не будут похожи на наскальные надписи. Это, конечно же, потребует времени, сил, а главное - терпения. В современном мире с его бешеным ритмом жизни потратить два часа на выведение закорючек – неслыханное транжирство времени, но каждому из нас очень важно уметь остановиться в этом потоке минут, успокоиться, отвлечься от своих забот, сесть и наконец-то написать красивый иероглиф!
	</div>
  </dd>	
  <dd class="accordion-navigation">
    <a href="#p3">Самореализация</a>
    <div id="p3" class="content">
		Китайский язык обладает удивительной способностью затягивать по самые уши. Китайский нельзя бросить, потому что через какое-то время человек начнёт скучать по нему и с новой страстью примется за его изучение. С первых минут знакомства с китайским языком человек преображается. Знание китайского языка может послужить поводом для кардинальных изменений в своей жизни – от смены профессии до перемены места жительства. Но и простая возможность на очередной встрече выпускников гордо заявить о своих занятиях китайским, возвысит человека в глазах других, сделает его сильнее, уникальнее и привлекательнее.
	</div>
  </dd>
</dl>