<h1>Расписание</h1>

<table style="width: 100%">
  <thead>
    <tr>
      <th></th>
      <th>Понедельник</th>
      <th>Вторник</th>
      <th>Среда</th>
	  <th>Четверг</th>
	  <th>Пятница</th>
    </tr>
  </thead>
  <tbody>
	  <tr>
		<th>17:00-18:30</th>
	  	<td></td>
		<td>Группа 0915 (первый год)<br>ИДЁТ НАБОР!</td>
		<td></td>
		<td>Группа 0915 (первый год)<br>ИДЁТ НАБОР!</td>
		<td></td>
	  </tr>
	  <tr>
		<th>19:00-20:30</th>
	  	<td>Группа 0914 (второй год)</td>
		<td>Группа 0916 (первый год)<br>ИДЁТ НАБОР!<br><br>Группа 0913 (третий год)</td>
		<td>Группа 0914 (второй год)</td>
		<td>Группа 0916 (первый год)<br>ИДЁТ НАБОР!<br><br>Группа 0913 (третий год)</td>
		<td></td>
	  </tr>
  </tbody>
</table>