<h1>Почему мы?</h1>

<%= render partial: 'slider' %>

<ol>
<li>Вы экономите свое время – мы находимся неприлично близко к метро.</li>
<li>Вы максимально вовлечены в процесс – мы категорически за маленькие группы!</li> 
<li>Вы получаете то, что вам нужно. И немного больше. Мы отвратительно щедрые на знания, поэтому никакой лишней болтовни, только китайский язык и только китайская культура! И немного больше.</li>
<li>Вы получаете знания из самых свежих источников – мы держим руку на пульсе, и мы не думаем, что все знаем, поэтому постоянно читаем китайские газеты и анекдоты, участвуем в разных конференциях и форумах, несколько раз в году бываем в Китаях и сидим в веб-пространстве Поднебесной.</li>
<li>Вы заряжаетесь энергией для новых свершений – мы молоды, счастливы, влюблены в китайский язык и нам еще ничего не надоело!</li>
<li>Вы окружены заботой и вниманием – мы с любовью оформили наш уютный класс, заварили настоящий китайский чай и купили настоящие российские конфетки!</li>
</ol>
<p class="text-justify">А еще потому, что Вы нам интересны, так как у вас есть твердое намерение стать одним из тех немногих избранных, которые знают китайский язык и понимают китайскую культуру.</p>