<% content_for :title, 'Галерея' %>
<h1>Галерея</h1>
<ul class="albums small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% @albums.each do |album| %>  
  <li>
    <%= link_to album_photos_path(album) do %>
      <%= image_tag album.photos.first.picture.url %>
      <h3><%= album.name %></h3>
    <% end %>  
  </li>
  <% end %>
</ul>

