<h1><%= @album.name %></h1>
<div class="flexslider">
  <ul class="slides">
  	<% @photos.each do |photo| %>
	    <li data-thumb="<%= image_tag photo.picture.url(:medium) %>">
	  	  <%= image_tag photo.picture.url %>
	    </li>
	<% end %>
  </ul>
</div>		 