@font-face {
  font-family: 'ChinaCyr';
  src: url(font_path('ChinaCyr.ttf')) format('truetype');
}

.china-text{
	font-family: ChinaCyr !important;
	color: #006900 !important;
	font-size: 2em !important;
}

.myths a{
	font-family: ChinaCyr !important;
}

ul.navigation li a{
	padding: 0.05rem 0.02rem;
}
ul.navigation{
	margin: 0.8rem auto;
}

h1{
	text-align: center;
}