@font-face {
  font-family: 'ChinaCyr';
  src: url(font_path('ChinaCyr.ttf')) format('truetype');
}

.china-text{
	font-family: ChinaCyr !important;
	color: #006900 !important;
	font-size: 2em !important;
}

#carousel .flex-active-slide{
	border: 3px solid #006900;
	cursor: default;
}

#carousel {
    height: 138px;
    overflow: hidden;
}

#carousel li{
	cursor: pointer;
}

.phone{
	font-size: 1.4em;
	color: #446944 !important;
}

.contact-logo{
	position: absolute; 
	bottom: 0; 
	left:0; 
	margin: 0;
	color: #666;
}

.myths a{
	font-family: ChinaCyr !important;
}

ul.navigation li a{
	padding: 0.05rem 0.02rem;
}
ul.navigation{
	margin: 0.8rem auto;
}

h1{
	text-align: center;
}

body{
	background: url(/images/fon_kit.jpg) !important;
}

.container{
	background: #fff !important;
}